*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --second-font-color: rgba(117, 117, 117, 1);
  --background-color: rgba(47, 48, 58, 1);
  --transform-color: #064a81;
  --neutral-color: #fff;
  --svg-bg-color: rgba(245, 244, 250, 1);
  --svg-icon-color: rgba(175, 177, 184, 1);
  --adress-color: rgba(255, 255, 255, 0.6);
}
:root {
  --font-raleway: "Raleway";
  --font-weight-normal: 500;
  --font-weight-big: 700;
  --font-weight-huge: 900;
}
:root {
  --container-width: 1200px;
  --tra-dur: 250ms;
  --tra-t-fun: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", "sans-serif";
  color: #212121;
}

.header {
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 1200px;
  padding-right: 30px;
}
.header ul {
  display: flex;
  align-items: center;
}
.header__list-style {
  list-style-type: none;
}
.navigation a {
  font-weight: var(--font-weight-normal);
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
}
.logo a {
  font-family: var(--font-raleway);
  font-weight: var(--font-weight-big);
  color: var(--main-color);
  font-size: 1.625rem;
  line-height: 1.9rem;
  letter-spacing: 0.03em;
}
.logo-extend {
  padding-right: 97px;
}
.logo__color {
  color: black;
}
.navigation__hfa:hover,
.navigation__hfa:focus,
.navigation__hfa:active {
  color: var(--main-color);
  transition-property: color;
  transition-duration: var(--tra-dur);
  transition-timing-function: var(--tra-t-fun);
}
.navigation__underline {
  position: relative;
}
.navigation__underline::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 4px;
  top: 44px;
  left: 0;
  background: var(--main-color);
  border-radius: 2px;
}
.navigation__inside-padding {
  padding-left: 57px;
  padding-right: 69px;
}

.contacts {
  fill: var(--second-font-color);
  color: var(--second-font-color);
  cursor: pointer;
  transition-property: fill, color;
  transition-duration: var(--tra-dur);
  transition-timing-function: var(--tra-t-fun);
}
.contacts:active,
.contacts:hover,
.contacts:focus-within {
  fill: var(--main-color);
  color: var(--main-color);
}
.contacts__phone-svg {
  right: 10px;
  position: relative;
  top: 2px;
}
.contacts__e-mail-svg {
  position: relative;
  right: 10px;
}
.contacts__inside-padding {
  padding-left: 50px;
}
.background {
  display: flex;
  justify-content: center;
}
.background__gradient {
  width: 1600px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-size: cover;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.background__h1 {
  font-weight: var(--font-weight-huge);
  color: var(--neutral-color);
  font-size: 2.75rem;
  line-height: 3.75rem;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  padding-top: 106px;
  padding-bottom: 30px;
}
.main-button {
  color: var(--neutral-color);
  font-weight: var(--font-weight-big);
  background-color: var(--main-color);
  border: var(--main-color);
  width: 200px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.87rem;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button-extend {
  margin-bottom: 106px;
}
.info-section {
  width: var(--container-width);
  margin: auto;
}
.info-section h3 {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
}
/* CZY TO MA KURWA SENS */
.info-section--p p {
  font-size: 0.875rem;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
}
.section__padding {
  padding-top: 94px;
  padding-bottom: 94px;
}
.info-section__list-style {
  display: flex;
  gap: 30px;
  padding-right: 30px;
  list-style: none;
}
.info-section__svg-background {
  width: 270px;
  background-color: var(--svg-bg-color);
  display: inline-block;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.about-us {
  padding-bottom: 94px;
  width: var(--container-width);
  margin: auto;
}
.about-us h2 {
  font-weight: var(--font-weight-big);
  font-size: 2.25rem;
  line-height: 2.62rem;
  text-align: center;
  letter-spacing: 0.03em;
}
.about-us__display {
  display: flex;
  gap: 30px;
  position: relative;
  list-style: none;
}
.about-us__overlay {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  overflow: hidden;
  color: var(--neutral-color);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  font-weight: var(--font-weight-big);
  font-size: 0.875rem;
  line-height: 1rem;
  top: 224px;
}
.our-team {
  background: var(--svg-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team__container {
  width: 1200px;
  display: flex;
  margin: auto;
  gap: 30px;
  padding-right: 30px;
  list-style: none;
}
/* Zastanów się nad tym gównem*/
.img-size img {
  width: 100%;
}
/* Zastanów się nad tym gównem*/
.our-team__person-bg {
  background-color: var(--neutral-color);
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0px;
  padding-bottom: 30px;
}
.our-team__figacaption {
  padding-top: 30px;
  text-align: center;
}
.our-team__position {
  color: var(--second-font-color);
  padding-top: 10px;
  padding-bottom: 16px;
}
.app-icons {
  fill: var(--svg-icon-color);
  transition-property: fill, var(--background-color);
  transition-duration: var(--tra-dur);
  transition-timing-function: var(--tra-dur);
  display: inline-block;
  padding: 12px 12px 12px 12px;
  cursor: pointer;
  line-height: 0;
  border-radius: 50%;
}
.app-icons:hover,
.app-icons:focus,
.app-icons:active {
  background-color: var(--main-color);
  fill: var(--neutral-color);
  border-radius: 50%;
}
.companies {
  padding-top: 94px;
  padding-bottom: 94px;
  width: 1200px;
  margin: auto;
  list-style: none;
}
.companies__display {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-right: 30px;
}
.company-icon {
  border: 1px solid var(--svg-icon-color);
  fill: var(--svg-icon-color);
  transition-duration: var(--tra-dur);
  transition-timing-function: var(--tra-t-fun);
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  padding: 16px 31px 16px 31px;
  cursor: pointer;
  transition-property: fill;
}
.company-icon:hover,
.company-icon:active,
.company-icon:focus {
  fill: var(--main-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.footer {
  background-color: var(--background-color);
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: var(--neutral-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* zastanów się nad tym*/
.footer-style a {
  text-decoration: none;
}
.footer-styl li {
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
}
/* zastanów się nad tym*/
.footer__container {
  width: 1200px;
  margin: auto;
}
.footer__join-us {
  display: flex;
  align-items: baseline;
  padding-bottom: 20px;
  color: var(--neutral-color);
}
.footer__join-us__style {
  font-weight: var(--font-weight-big);
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 74px;
}
.footer__join-us__style {
  font-weight: var(--font-weight-big);
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer__join-us__style--padding {
  padding-left: 173px;
}
.footer__logo-color {
  color: var(--neutral-color);
}
.footer__address a {
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: var(--adress-color);
}
.find-us-icons {
  display: flex;
}
/*
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}

.container-portfolio {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  gap: 8px;
}
.container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 30px;
  padding-right: 30px;
  list-style: none;
}
.extend nav {
  display: inline;
}

.line hr {
  border: 1px solid #ececec;
  margin: 0;
}

.font-color {
  color: var(--second-font-color);
}

.portfolio-visual {
  position: relative;
}
.portfolio-visual::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 4px;
  top: 46px;
  left: 0;
  background: #2196f3;
  border-radius: 2px;
}
.about-us-style {
  padding-top: 0px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: auto;
  padding-bottom: 50px;
}

.buttons-style button {
  padding-top: 6px;
  padding-bottom: 6px;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
}
.buttons-style {
  list-style: none;
  gap: 8px;
  justify-content: center;
}
.button-padding {
  padding-left: 22px;
  padding-right: 22px;
}
.img-wrap {
  flex-wrap: wrap;
  list-style: none;
}
.img-wrap li {
  width: 370px;
}
.disp {
  display: block;
  text-align: -webkit-match-parent;
}
.figcaption-padding div {
  padding-top: 13px;
  color: var(--second-font-color);
}
.figcaption-padding {
  padding-left: 24px;
  padding-top: 20px;
}
.padding-prop {
  padding-bottom: 0px;
}
.padding-settings {
  padding-top: 50px;
}
.box-border {
  padding: 20px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.no-gap {
  display: block;
}
.img-box {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.img-box:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.header-svg {
  padding-right: 10px;
}
.find-us-icons-placment {
  padding-left: 82px;
}
.find-us-app-icons {
  display: inline-block;
  padding: 12px 12px 12px 12px;
  fill: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  line-height: 0;
  margin-right: 8px;
  transition-property: fill, var(--background-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.find-us-app-icons:hover,
.find-us-app-icons:focus,
.find-us-app-icons:active {
  background-color: var(--main-color);
  border-radius: 50%;
  fill: white;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.modal {
  background: rgba(0, 0, 0, 0.2);
  transition-property: visibility, opacity, transform;
  opacity: 1;
  visibility: visible;
  display: block;
}
.overlay-hover:hover .overlay {
  transform: translatey(0);
  cursor: pointer;
}
.overlay-hover:hover .img-box {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
}

.box-overlay {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-top: 14px;
}
.overlay {
  position: relative;
  bottom: -2px;
  left: 0;
  transform: translatey(+100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--main-color);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  opacity: 0.9;
  width: 100%;
  padding: 49px 45px 49px 24px;
  height: 297px;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.backdrop.is-hidden .modal {
  transform: translate(0%, 0%) scale(0.4);
}
.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.modal-heading {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 40px;
  padding-bottom: 12px;
}
.input-style {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  padding: 12px 42px 12px 42px;
  display: block;
  margin-bottom: 10px;
  margin-top: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.label-style {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-font-color);
  text-align: -webkit-center;
  padding-left: 40px;
}

.button-send-style {
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  background-color: var(--main-color);
  border: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.06em;
  padding: 10px 76px 10px 76px;
  margin-bottom: 40px;
  margin-top: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send-style:hover,
.button-send-style:focus,
.button-send-style:active {
  background-color: var(--transform-color);
}
.button-position {
  display: flex;
  justify-content: center;
}
.link-style {
  color: var(--main-color);
}
.input-styling:hover input {
  border: 1px solid var(--main-color);
  fill: var(--main-color);
}
.input-styling:hover svg {
  fill: var(--main-color);
  outline: none;
}
.input-styling:focus-within svg {
  fill: var(--main-color);
  outline: none;
}
.input-styling:focus-within input {
  border: 1px solid var(--main-color);
  outline: none;
}
.input-styling {
  display: inline;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gone {
  position: absolute;
}
.svg-name-position {
  position: relative;
  top: 37px;
  right: 22px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-tel-position {
  position: relative;
  top: 37px;
  right: 46px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-email-position {
  position: relative;
  top: 37px;
  right: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-style {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px 12px 16px;
  width: 448px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition-property: border;
  transition-duration: var(--tra-dur);
  transition-timing-function: var(--tra-t-fun);
}
.textarea-style:hover,
.textarea-style:focus {
  border: 1px solid var(--main-color);
  outline: none;
}
.comments-style {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-font-color);
  padding-left: 40px;
  display: inline-grid;
}

.checkbox-box-style:checked + .svg-check-position {
  opacity: 1;
}
.checkbox-box-style {
  appearance: none;
}
.btn-svg {
  border: 2px solid rgba(33, 33, 33, 1);
  width: 16px;
  height: 15px;
  margin-top: 3px;
  margin-left: 11px;
  border-radius: 3px;
}
.checkbox-btn {
  display: flex;
}
.checkbox-style {
  display: flex;
  place-items: center;
  justify-content: center;
  padding-top: 20px;
}
.svg-check-position {
  opacity: 0;
  position: relative;
  right: 16px;
  cursor: pointer;
  background-color: var(--main-color);
  border-radius: 2px;
  margin-top: 3px;
}
.terms-style {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: -7px;
}

.sub-email-input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  padding: 15px 16px 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.sub-email-position {
  padding-left: 64px;
  padding-right: 12px;
}
.sub-button {
  width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 76px 10px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #fff;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-button:hover,
.sub-button:focus,
.sub-button:active {
  background-color: var(--transform-color);
}
.send-icon {
  position: absolute;
  margin-left: -50px;
  margin-top: 12px;
}
.button-style:hover,
.button-style:focus,
.button-style:active {
  background-color: var(--transform-color);
}

.button-hover {
  transition-property: var(--background-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hover:hover,
.button-hover:focus,
.button-hover:active {
  background-color: var(--main-color);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
